<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <style>
      .anc{
        color: red;
        text-decoration: none;
      }
      .padd{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/nav') %>


    <div>
      <form method="POST" action="/url">
        <div class="container mt-5 text-center">
          <h2 class="mb-4 centered">Enter Your Original URL</h2>
          <div class="mb-3 d-flex justify-content-center"> 
              <input type="text" id="typeText" class="form-control w-50" name="url"  placeholder="https://example.com" />
          </div>
          <button class="btn btn-primary" type="submit" >Show Result</button>
        </div>
        
      </form>
    </div>                                                
    <% if (locals.id) { %>
      <div class = "padd">
          <p id="result" class="alert alert-secondary centered">URL Generated:  
            <a class = "anc" href="<%= locals.base_url %>/url/<%= locals.id %>">
              <%= locals.base_url %>/url/<%= locals.id %>
            </a>
          </p>
      </div>
      <% } %>

      <% if (locals.error) { %>
      <div class = "padd">
          <p id="result" class="alert alert-secondary centered">ERROR:  
            <%= locals.error %>
          </p>
      </div>
      <% } %>

  
    <%- include('./partials/scripts') %>
  </body>
</html>