<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <style>
        .anc{
            color: rgb(11, 147, 210);
            font-weight: bold;
            text-decoration: none;
        }
        .anc:hover {
            color: rgb(122, 122, 225);
            text-decoration: underline;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/nav") %>

    <div style="margin-top: 30px">
        <% if (locals.urls) { %>
        <table class="table">
          <thead>
            <tr>
            <th scope="col" >S. No</th>
            <th scope="col" >ShortID</th>
            <th scope="col" >Redirect</th>
            <th scope="col" >Clicks</th>
            <th scope="col" >delete</th>
            </tr>
          </thead>
          <tbody>
            <% urls.forEach((url, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><a class = "anc" href="http://localhost:<%= locals.PORT %>/url/<%= url.shortId %>"><%= url.shortId %></a></td>
              <td><%= url.redirectURL %></td>
              <td><%= url.visitHistory.length %></td>
              <td><button class="btn btn-danger" onclick="deleteItem('<%= url.shortId %>')">Delete</button></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>
  


    <%- include("./partials/scripts") %>
    <script>
      function deleteItem(id) {
        fetch(`url/delete/${id}`, { 
          method: 'DELETE' 
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert("Item deleted successfully");
            location.reload();
          } else {
            alert("Error deleting item");
          }
        })
        .catch(error => console.error("Error:", error));
      }
    </script>
</body>
</html>